:root
{
    --bright: rgb(10, 76, 208);
    --white: rgb(218, 209, 255);
    --dark: rgb(17, 0, 87);
    --black: rgb(6, 0, 31);
}

*
{
    margin: auto;
}

*::selection
{
    background-color: black;
}

div
{
    background-color: var(--dark);
}

h1
{
    padding: 10px;
    margin: auto;
    font-size: 80px;
    font-family: "Josefin Slab";
}

body
{
    margin: 0;
    background-color: var(--bright);
    color: white;
    font-family: sans-serif;
}

textarea
{
    font-family: sans-serif;
}

h2
{
    font-size: 30px;
    margin: 7px;
}

#contact
{
    display: flex;
    flex-wrap: wrap;
}

.mapouter
{
    margin-top: 20px;
}

table#contactTable
{
    margin: 20px;
}

#prices
{
    flex-direction: column;
}

table#linkTable
{
    margin: auto;
    background-color: var(--white);
    width: 100%;
}

div#slideshowDiv
{
    overflow: hidden;
    height: 73vh;
    display: flex;
    justify-content: center;
    background-color: var(--black);
}

img#slideshow
{
    opacity: initial;
    filter: none;
    max-height: 100%;
    margin: 20px;
    border-radius: 30px;
    transition: opacity 0.5s ease-in-out;
}

img[src$=".png"].tableImg
{
    margin-left: 20%;
}

img.tableImg
{
    width: 70%;
    opacity: 50%;
    filter: saturate(20%);
    transition: opacity 0.1s ease-in-out, filter 0.1s ease-in-out, transform 0.1s ease-in-out;
    background-color: transparent;
    object-fit: scale-down;
    max-height: 100%;
}

div#slideshowButtons
{
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
}

input.slideshowButton
{
    margin: 10px;
    margin-right: 4vw;
    margin-left: 4vw;
    padding: 5px;
    font-size: clamp(10px,5vw,30px);
    border-radius: 5px;
    outline: 0px;
    border: 0;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out, width 0.3s ease-in-out;
    color: white;
    background-color: var(--dark);
    width: 200px;
}

input.slideshowButton:hover
{
    color: black;
    background-color: var(--white);
    width: clamp(210px,50vw,300px);
}

td.linkGrid
{
    background-color: black;
    height: 400px;
    overflow: hidden;
}

td.linkGrid:hover
{
    box-shadow: 1px 1px 50px rgb(44, 44, 255) inset;
    transition: box-shadow 0.1s ease-in-out;
}

td.linkGrid:hover img,
td.linkGrid:hover a
{
    opacity: 100%;
    filter: saturate(200%);
    transform: scale(105%);
}

a
{
    text-align: center;
    font-family: sans-serif;
    font-size: larger;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
}

.centerer
{
    margin: auto;
    width: 40%;
}

input.expandingTextBox
{
    width: 10vw;
    transition: width .3s ease-in-out;
}

input.expandingTextBox:focus
{
    width: 30vw;
}

.dropdown
{
    height: 0px;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
}

.dropdownButton
{
    border: 0;
    font-size: 20px;
    background: #000f63;
    color: white;
    margin: 5px;
    border-radius: 2px;
}

#prices td
{
    font-size: 30px;
}

#priceList
{
    margin-top: 30px;
}